name: CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v3\4

    - name: Login no DockerHub
      uses: docker/login-action@v4
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build da imagem
      run: docker build -t meuapp:latest .

    - name: Push pro DockerHub
      run: docker push meuapp:latest
